/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
coverage/
bootstrap/cache/*.php
storage/build/
public/js/parts/*
.env

.docker/data/
!.docker/data/*/*.gitkeep
!.docker/data/*.gitkeep
.docker/logs/
!.docker/logs/*.gitkeep
storage/installed
docker-compose.yml
._*.png
dist.zip
.php*.cache

playbook/recipe/downloaded/
