language: php
php:
  - '7.1'
  - '7.2'
  - '7.3'

sudo: false

before_install:
  - composer self-update --stable -n

install:
  - composer install --prefer-dist -n -o

script:
  - ./vendor/bin/phpunit --coverage-text=build/cover.txt

after_script:
